#app {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 auto;

  .app-title {
    font-family: 'Quicksand';
    color: #000;
    font-size: 34px;
    text-align: center;
  }
}
