#app {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 0 auto;

  .app-title {
    font-family: 'Quicksand';
    color: #fff;
    font-size: 34px;
    text-align: center;
    background-color: #ED3833;
    margin: 0;
    padding: .83em 0;
  }
}
